<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/mint/style.min.css">
	
</head>
<style>
	[v-cloak] {
            display: none;
    }
	/*HTML5 元素超出部分滚动, 并隐藏滚动条*/
	div::-webkit-scrollbar {
        display: none;
	}
	#app{
		min-width: 1857px;
	}
	table{
        word-break:break-all;
        word-wrap:break-word;
		border-collapse:collapse;
		
    }
	div.topDiv{

        overflow:scroll;
		-webkit-overflow-scrolling: touch;
    }
	 div.downDiv{
        overflow:scroll;
		height: 520px;
		-webkit-overflow-scrolling: touch;		
    }
    .red{
    	background-color: #F92626;
    }
    td,th{
    	text-align: center;
    }
	
</style>	
<div id="app" v-cloak>
	<mt-button size="small " type="primary" @click.native="selectPO_Pomain" style="visibility:hidden">查询</mt-button>
	<div style="border:1px solid black">
		<select v-model="chooseWharehouse">
			<option value="">选择仓库</option>
			<option :value="list.cWhCode" v-for="list in listWharehouse">{{list.cWhCode}} {{list.cWhName}}</option>
		</select>
		<select v-model="chooseCRdCode">
			<option value="">选择出库类别</option>
		<option :value="list.cRdCode" v-for="list in listRdStyle">{{list.cRdCode}} {{list.cRdName}}</option>
		</select>
		<label>备注：</label>
		<input type="text" name="cMemo" v-model="cMemo">
	<!--采购订单子表主表-->
		<div  @scroll="topScrollEvent2" ref="topDiv2" class="topDiv">
			<table class="topTable2" border="1">
				<thead>
					<tr>
						<th style="width:100px">序号</th>
						<th style="width:100px">选择</th>
						<th style="width:100px">SubID</th>
						<th style="width:100px">MainId</th>
						<th style="width:100px">生产计划号</th>
						<th style="width:100px">存货编码</th>
						<th style="width:100px">存货名称</th>
						<th style="width:100px">规格型号</th>
						<th style="width:100px">单位</th>
						<th style="width:100px">单价</th>
						<th style="width:100px">金额</th>
						<th style="width:100px">数量</th>
						<th style="width:100px">已出库数量</th>
						<th style="width:100px">待出库数量</th>
						<th style="width:100px">本次出库数量</th>
					</tr>
				</thead>
			</table>
		</div>
		
		<!--采购订单子表子表div-->
		<div ref="downDiv2" @scroll="downScrollEvent2" class="downDiv">

			<table class="downTable2" border="1">
				<tbody  id="list_info">
					<tr v-for="(pp_Podetails,index) in pp_PodetailsArray" class="red">
						<td style="width:100px">{{index+1}}</td>
						<td style="width:100px">{{pp_Podetails.subId}}</td>
						<td style="width:100px">{{pp_Podetails.mainId}}</td>
						<td style="width:100px">
							<input type="number" style="width: 98%;" :value="pp_Podetails.cDefine22" v-model="pp_Podetails.cDefine22">
						</td>
						<td style="width:100px">{{pp_Podetails.inventory.cInvCode}}</td>
						<td style="width:100px">{{pp_Podetails.inventory.cInvName}}</td>
						<td style="width:100px">{{pp_Podetails.inventory.cInvStd}}</td>
						<td style="width:100px">
						{{pp_Podetails.inventory.computationUnit.cComunitName}}</td>
						<td style="width:100px">
							<input type="number" :value="pp_Podetails.iUnitCost" v-model.number="pp_Podetails.iUnitCost" style="width: 98%;" @change="sumPrice(index)">
						</td>
						<td style="width:100px">{{pp_Podetails.iPrice}}</td>	
						<td style="width:100px">{{pp_Podetails.fQuantity}}</td>
						<td style="width:100px">{{pp_Podetails.fOutQuantity}}</td>
						<td style="width:100px">{{pp_Podetails.fQuantity - pp_Podetails.fOutQuantity}}</td>
						<td style="width:100px" align="center">
							<input type="number" style="width: 50px;" :value="pp_Podetails.nowiReceivedQTY" v-model.number="pp_Podetails.nowfOutQuantity" @change="bgColor(index)">
						</td>					
					</tr>              
				</tbody>	
			</table>
			<mt-button size="small " type="primary" @click.native="submitpp_Pomain" :disabled="isDisable">提交</mt-button>
		</div>
	</div>
</div>

<!-- 先引入 Vue -->
<script src="./js/vue/vue2.6.10.js"></script>
<script src="./js/jquery/jquery3.4.1.js" ></script>
<!-- 引入组件库 -->
<script src="./js/mint/index.js"></script>
<!--引入axios-->
<script src="./js/vue/axios.min.js"></script>
<script src="./js/setting.js"></script>
<script>
	var pp_PodetailsArray = JSON.parse(localStorage.getItem("pp_PodetailsArray"));
	//初始化
	for (var i = 0; i< pp_PodetailsArray.length; i++) {
		pp_PodetailsArray[i].nowfOutQuantity = 0;
		pp_PodetailsArray[i].iUnitCost = 0;
		pp_PodetailsArray[i].iPrice = 0;
	}
	var vue = new Vue({
		el: "#app",
		data: {
			pp_PodetailsArray: pp_PodetailsArray,
			chooseWharehouse: '',
			listWharehouse: [],
			isDisable: false,
			cMemo: '',
			listRdStyle: [],
			chooseCRdCode: ''
		},
		methods: {
			topScrollEvent:function(e){

			    this.$refs.downDiv.scrollLeft=this.$refs.topDiv.scrollLeft;

		    },
		    downScrollEvent:function(e){
		    	this.$refs.topDiv.scrollLeft=this.$refs.downDiv.scrollLeft;
			   
		    },
			topScrollEvent2:function(e){

			    this.$refs.downDiv2.scrollLeft=this.$refs.topDiv2.scrollLeft;

		    },
		    downScrollEvent2:function(e){
		    	this.$refs.topDiv2.scrollLeft=this.$refs.downDiv2.scrollLeft;
			  
		    },
		    //扫码器调用的方法
		    addiReceivedQTY: function(val) {
		    	var temp = [];
		    	for (var i = 0; i < this.pp_PodetailsArray.length; i++) {
		    		if (this.pp_PodetailsArray[i].inventory.cInvCode == val) {
		    			temp.push(i);
		    		}
		    	}
		    	if (temp.length > 1) {
		    		vue.$messagebox.alert("记录中有至少两条相同的存货编码，请在第"+temp.join(", ")+"行手动输入出库数量！");
		    	} else if (temp.length == 1) {
		    		this.pp_Podetails[temp[0]].nowfOutQuantity++;
		    		this.bgColor(temp[0]);

		    	}else {
		    		vue.$messagebox.alert('存货信息不存在！');
		    	}
		    	return;
		    },
		    bgColor: function(index) {
		    	vue.sumPrice(index)
		    	var list_page = $('#list_info').children()[index];	    	
		    	if (this.pp_PodetailsArray[index].nowfOutQuantity < (this.pp_PodetailsArray[index].fQuantity - this.pp_PodetailsArray[index].fOutQuantity)) {
		    		list_page.style.backgroundColor = "#F92626";
		    	}else if (this.pp_PodetailsArray[index].nowfOutQuantity == (this.pp_PodetailsArray[index].fQuantity - this.pp_PodetailsArray[index].fOutQuantity)) {
		    		list_page.style.backgroundColor = "green";
		    	}else {
		    		list_page.style.backgroundColor = "yellow";
		    	}
		    },
		    submitpp_Pomain: function() {
		    	var that = this;
		    	var submitData = this.pp_PodetailsArray.slice();
		    	this.isDisable = true;
		    	setTimeout(function(){
		    		that.isDisable = false;
		    	},1000);
		    	submitData = this.checkData(submitData);
		    	if(!submitData) return;
		    	if (submitData.length == 0) {
		    		vue.$messagebox.alert("数据不能为空！", "错误");
		    		return;
		    	};
		    	var url = getUrl()+"submitpp_Podetails";
		    	axios.post(url,submitData)
		    	.then(function(response){
		    		localStorage.setItem("messageInfo",response.data);
		    		makeJava.makeSuccessSound();
		    		makeJava.jumpHtml("file:///android_asset/index.html");	
		    	})
		    	.catch(function(e){
		    		makeJava.makeFailSound();
		    		vue.$messagebox.alert(e, '错误');
		    	});
		    },
		    //计算金额
		    sumPrice: function(index) {
		    	var a = this.pp_PodetailsArray[index].nowfOutQuantity;
		    	var b = this.pp_PodetailsArray[index].iUnitCost;
		    	a = a * 1;
		    	this.pp_PodetailsArray[index].iPrice = a * b;
		    },
		    //检查数据
		    checkData: function(data) {
		    	if (this.chooseWharehouse == '') {
		    		vue.$messagebox.alert("仓库不能为空！", '错误');
		    		return false;
		    	}
		    	if (this.chooseCRdCode == '') {
		    		vue.$messagebox.alert("出库类别不能为空！", '错误');
		    		return false;
		    	}

		    	for (var i = 0; i < data.length; i++) {
		    		var index = this.pp_PodetailsArray.indexOf(data[i])+1;
		    		if (data[i].nowfOutQuantity == 0) {
		    			data.splice(i, 1);
		    			i--;
		    		}else if (data[i].nowfOutQuantity > (data[i].fQuantity - data[i].fOutQuantity)) {
		    			vue.$messagebox.alert("第"+index+"条订单的本次出库数量不能大于出库上限范围！");
		    			return false;
		    		}else {
		    			data[i].cWhCode = this.chooseWharehouse;
		    			data[i].cMemo = this.cMemo;
		    			data[i].cRdCode = this.chooseCRdCode;
		    		}
		    	}
		    	return data;
		    }
		},
		watch: {
			chooseWharehouse: function(val) {
				this.chooseWharehouse = val;
			}
		},
		//获取仓库信息
		created: function() {
		    axios.get(getUrl()+"getcWhCodeList")
		   	.then(function(response){
		   		var cWhCodeList = response.data;
	   			for (var i in cWhCodeList) {
	   				// console.log(vue.listWharehouse)
	   				vue.listWharehouse.push(cWhCodeList[i]);
		   		}
	    	})
	    	.catch(function(e){
		    	vue.$messagebox.alert(e, '错误');
		    });

		    axios.get(getUrl()+"getRdStyleList?bRdFlag=0")
		   	.then(function(response){
		   		var cRdStyleList = response.data;
	   			for (var i in cRdStyleList) {
	   				// console.log(vue.listWharehouse)
	   				vue.listRdStyle.push(cRdStyleList[i]);
		   		}
	    	})
	    	.catch(function(e){
		    	vue.$messagebox.alert(e, '错误');
		    });
		},
		//页面初始化调整背景颜色
		mounted: function(){
			this.$nextTick(function(){
				var list_page = document.getElementById('list_info');
				for (var i = 0; i < pp_PodetailsArray.length; i++) {
					if ((pp_PodetailsArray[i].fQuantity-pp_PodetailsArray[i].fOutQuantity) < 0) {
						list_page.childNodes[i].style.backgroundColor = "yellow";
					}else if ((pp_PodetailsArray[i].fQuantity-pp_PodetailsArray[i].fOutQuantity) == 0)
						list_page.childNodes[i].style.backgroundColor = "green";    	
				}
			});
		}
	})
</script>	